.home {
  @media only screen and (min-width: 800px) {
    margin-left: 128px;
    margin-right: 128px;
  }

}

.portfolio {
  margin: 192px 128px 192px 128px;
  @media (max-width: 1080px) {
      margin: 128px 0 64px 0;
  }
}
