.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 32px;
  text-align: left;

}

.card-container-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 16px;
  text-align: center;
  h6 {
    margin: auto;
  }
  img {
    height: 60px;
  }

}
