@import "../scss/colors";

.container {
  display: flex;
  justify-content: center;
  button {
    border: none;
    background: $background;
    font-weight: 300;
    font-size: 32px;
    cursor: pointer;
  }
}
