nav {
  padding: 16px;
  display: flex;

  .logo-container {
    flex: 1;
    .logo {
      height: 45px;
      width: 362px;
      @media (max-width: 1080px) {
          width: 256px;
      }
    }

  }


  .navigation {
    margin-top: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 48px;
    @media (max-width: 1080px) {
      display: none;
    }
  }

  .icons-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    .icons {
      @media (max-width: 1080px) {
        display: none;
      }
    }
    .mobile-icon {
      @media (min-width: 1081px) {
        display: none;
      }
      align-self: center;
    }
  }
}




