@import "../scss/colors";

.container {
  margin-bottom: 192px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  @media (max-width: 1080px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;;
  }


  .contacts {
    grid-column: 1 / 6;
    grid-row: 1 / 7;
    display: flex;
    gap: 64px;
    flex-direction: column;
    @media (max-width: 1080px) {
        gap: 32px;
      }

    h2 {
      grid-column: 1 / 5;
      @media (max-width: 1080px) {
        text-align: left;
        margin-left: 8px;
      }
    }

    .intro {
      grid-column: 1 / 5;
      @media (max-width: 1080px) {
        text-align: left;
        margin-left: 8px;
        margin-right: 8px;
      }
    }


    .info {
      align-self: flex-start;
      gap: 128px;
      @media (max-width: 1080px) {
        width: 98%;
        gap: 8px;
        margin-left: 8px;
        margin-bottom: 24px;
        flex-direction: column;
        align-items: flex-start;
      }
      :nth-child(2) {
        color: $primary;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
      }
    }

  }
  div {
    place-self: center;
    grid-column: 8 / 13;
    grid-row: 1 / -1;
    @media (max-width: 1080px) {
      width: 100%;
    }
  }
}
