.container {
  margin-top: 192px;
  text-align: center;
  @media (max-width: 1080px) {
    margin-top: 128px;
  }
  .info {
    margin: auto;
    width: 40%;
    @media (max-width: 1080px) {
      width: 80%;
    }
      h1 {
      margin-bottom: 32px;
      }
      p {
        margin-bottom: 96px;
        @media (max-width: 1080px) {
          margin-bottom: 64px;
        }
      }
    }

}
