@import './scss/fonts';
@import './scss/colors';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

//BODY STYLES
body {
  color: $black1;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: $background;
}

input, textarea {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: #FFF1FE;
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300;400&display=swap');
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 28px;
  padding: 18px;
  @media (max-width: 1000px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.link {
  text-decoration: underline;
  color: $black2;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-50%);
  @media (prefers-reduced-motion){
    transition: none;
  }
}
.show {
  opacity: 1;
  transition: all 1s;
  filter: blur(0);
  transform: translateX(0);
}

.show-up {
  opacity: 1;
  transition: all 1s;
  filter: blur(0);
  transform: translateY(0);
}

.hidden-up {
  opacity: 0;
  transition: all 1s;
  filter: blur(0);
  transform: translateY(-50%);
  @media (prefers-reduced-motion){
    transition: none;
  }
}

.show-right {
  opacity: 1;
  transition: all 1s;
  filter: blur(0);
  transform: translateX(0);
}

//.hidden-right {
//  opacity: 0;
//  filter: blur(5px);
//  transform: translateX(30%);
//}



.appear {
  opacity: 0;
}

// btn standard styling
.btn-standard {
  padding: 8px 24px 8px 24px;
  border-radius: 48px;
  outline: none;
  border: none;
  cursor: pointer;
  //color: $black1;
}

.active {
  background-color: $black1;
  p {
    color: #EAEAEA;
  }
}



