@import "colors";

h1 {
  font-weight: 600;
  font-size: 73px;
  line-height: 86px;
  @media (max-width: 768px) {
    //font-weight: 600;
    font-size: 48px;
    line-height: 61px;
  }
}

h2 {
  font-weight: 600;
  font-size: 59px;
  line-height: 69px;
  @media (max-width: 768px) {
    font-size: 39px;
    line-height: 49px;
    font-weight: 600;
  }

}

h3 {
  font-weight: 600;
  font-size: 47px;
  line-height: 55px;
  @media (max-width: 768px) {
    font-weight: 600;
    font-size: 31px;
    line-height: 39px;
  }
}

h4 {
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
   @media (max-width: 768px) {
    font-size: 25px;
    line-height: 38px;
     font-weight: 600;
  }
}

h5 {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
   @media (max-width: 768px) {
    font-size: 20px;
    line-height: 25px;
     font-weight: 600;
  }
}

h6 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
   @media (max-width: 768px) {
    font-size: 16px;
    line-height: 20px;
     font-weight: 600;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0;
    color: $black1;
    font-weight: 600;
}

span, p {
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300;400&display=swap');
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 30px;
  color: $black1;
  margin: 0;
  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}
